# Node / React
frontend/node_modules
frontend/dist
frontend/build
frontend/.env

# Java / Spring Boot
backend/target
backend/.classpath
backend/.project
backend/.settings

# IDE
.vscode
.idea
*.log

# OS
.DS_Store
Thumbs.db
